@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

/*moviles*/
@media screen and (max-width: 900px){

      .contenido {display:flex;
                  width:100%;
                  text-align: center;
                  animation: MiAnimacion;
                  animation-duration: 1s;
                  flex-flow: column;



                }

      .encabezado {
                  margin-left: 10px;
                  font-size: 30px;
                  text-shadow: 2px 2px 2px #02010a;}

      .menu       {

                  font-size: 20px;
                  margin-top: 20px;}


       /*.imagen2{ width: 100%;margin-top: 2%;margin-bottom: 2%;}
       .imagen3{width: 100%;margin-top: 2%;margin-bottom: 2%;}*/
       .imagenes_sec{width: 100%;background-color: #d5c75f;}
       .PieDeFoto1{width: 80%; display: flex;flex-flow: column;background-color: inherit;margin-left: 10%;margin-right: 10%;margin-top: 2%;}
       .PieDeFoto2{width: 80%; height: auto; display: flex;flex-flow: column;background-color: inherit;margin-left: 10%;margin-right: 10%;margin-top: 2%;}
       footer{flex-flow: column;width:inherit;}



      .smicon{justify-content: center;}
      .galeria{flex-flow: column;}
      .columna{margin-left: 10%;margin-right: 10%;margin-top: 2%;}

      }
/*desktop*/
@media screen and (min-width: 900px){


      .contenido {

                  width:900px;
                  margin-left: auto;
                  margin-right: auto;
                  display: flex;
                  animation: MiAnimacion;
                  animation-duration: 1s;
                  flex-flow: column;}

      .encabezado {

                    font-size: 30px;
                    text-shadow: 2px 2px 2px #02010a;
                    margin-left: 10px;
                    float: left;
                    background-color: inherit;}

        .menu{

                    float:right;
                    font-size: 20px;
                    color: white;
                    margin-top: 10px;
                    margin-right: 10px;
                    background-color: inherit;}


        .imagenes_sec{display: flex;flex-flow: row; width: 100%;align-items: center;background-color: #d5c75f;border-width: 1px; border-style: solid;}

        .PieDeFoto1{width: 48%; display: flex;flex-flow: column;background-color: inherit;margin-left: 1%;margin-right: 1%;margin-top: 2%;}
        .PieDeFoto2{width: 48%; display: flex;flex-flow: column;background-color: inherit;float: right;margin-left: 1%;margin-right: 1%;margin-top: 2%;}

        footer{flex-flow: row;}
        .footerc{width: 25%;}
        .columna{width: 33%;margin-left: 1%;margin-right: 1%;margin-top: 2%;margin-bottom: 2%;}




                  }

@keyframes MiAnimacion {
            0% {margin-top: 150%}
            60% {margin-top: -5%}
            100%{margin-top: 0%}}

body{

          font-family:'Dancing Script',Verdana, Sans-serif;
          background-color: #02010a;}

header{
            background-color: #5b7989;
            color:white;
            width: 100%;
            border-radius:10px 10px 0px 0px;}




/*configuracion de texto de menu*/

.link:link{color:inherit;}
.link:visited{color:inherit;}
.link{margin-left: 10px;}
.link:active{color:inherit}


/*defino configuracones generales para la seccion*/

section{
          display:flex;

          width:100%;
          background-color: #82c3a6;
          flex-flow: column;
      }

img{ -webkit-box-shadow: 20px 20px 0px 0px #02010a;
      box-shadow: 2px 2px 0px 0px #02010a;}

footer{ width: inherit;display:flex;background-color: #C6d5c5; border-radius: 0 0 10px 10px;}

/*configuracion imagen principal*/
.imagen_principal{width: 80%;align-self: center;margin-top: 2%;margin-bottom: 2%;}


.pie{margin-left: auto;margin-right: auto;font-size: 25px;text-shadow:2px 2px 2px #02010a;}
.imagen2:hover { transform:  rotate(10deg);transition-duration: 1s;box-shadow: 2px 4px 0 0  #82c3a6;}
.imagen3:hover {transform: translate3d(20px, -5px, 0);transition-duration: 1s;box-shadow: 2px 4px 0 0 #82c3a6;}
.footerc{margin-left:2%;margin-right:2%;justify-content: center; flex-flow: column;}
.nuevo{

        display:flex; max-width:900px;margin:auto;

}


.imagen2{max-width:100%;}
.imagen3{max-width:100%;}

.logo{width:30px;-webkit-box-shadow: none;}
.galeria{display:flex;width: 100%;background-color: #d5c75f;}
.img1{max-width: 100%;margin-top:2%;margin-bottom:2%;}


.columna{flex-flow: column;}
